<div  STYLE="position:absolute; TOP:150px; LEFT:150px; WIDTH:1000px; HEIGHT:10px"  >

<h1 align="center" >Inscreva-se já na seleção:<%= @selection.name %> </h1>

<%= render 'form' %>

<%= link_to 'Back', :back %>
</div>