<div  STYLE="position:absolute; TOP:150px; LEFT:150px; WIDTH:1000px; HEIGHT:10px"  >

  <% flash.each do |key, value| %>
  <%= value %>
  <% end %>

<h1 align="center" >Inscreva-se já na seleção:<%= @selection.name %> </h1>

<%= render 'form' %>

<div  STYLE="position:absolute; TOP:450px; LEFT:100px; WIDTH:800px; HEIGHT:10px"  >
<%= link_to 'Back', :back,class: "btn btn-default" %>
</div>
</div>
